<section>
  <h1>Collections</h1>
  <div
    class="flex flex-wrap space-x-[-1px]">

    {% for collection in collections %}
      {% if collection.handle == 'all' %}
        {% continue %}
      {% endif %}

      {% if collection.title == 'home' %}
        {% continue %}
      {% endif %}

      {% assign image_id = collection.handle | append: '_image' %}
      {% assign image_url = section.settings[image_id] | img_url: 'medium' %}

      <!-- Each collection item -->
      <div
        class="w-1/4 relative border border-black">
        <img
        src="{{ image_url }}"
          alt="{{ collection.title }}"
          class="w-full">
        <!-- Collection title -->
        <a
          href="{{ collection.url }}"
          class="absolute top-0 left-0 text-black p-1">{{ collection.title }}</a>
      </div>
    {% endfor %}
  </div>
</section>



{% schema %}
  {
    "name": "Collections settings",
    "settings": [
      {
        "type": "image_picker",
        "id": "basics_image",
        "label": "Basics Image"
      },
      {
        "type": "url",
        "id": "basics_link",
        "label": "Basics Link"
      },
      {
        "type": "image_picker",
        "id": "beach_image",
        "label": "Beach Image"
      },
      {
        "type": "url",
        "id": "beach_link",
        "label": "Beach Link"
      }, {
        "type": "image_picker",
        "id": "bodysuits_image",
        "label": "bodysuites Image"
      }, {
        "type": "url",
        "id": "bodysuites_link",
        "label": "bodysuites Link"
      }, {
        "type": "image_picker",
        "id": "bottoms_image",
        "label": "bottoms Image"
      }, {
        "type": "url",
        "id": "bottoms_link",
        "label": "bottoms Link"
      }, {
        "type": "image_picker",
        "id": "crop-tops_image",
        "label": "crop tops Image"
      }, {
        "type": "url",
        "id": "crop-tops_link",
        "label": "crop tops Link"
      }, {
        "type": "image_picker",
        "id": "dresses_image",
        "label": "dresses Image"
      }, {
        "type": "url",
        "id": "dresses_link",
        "label": "dresses Link"
      }, {
        "type": "image_picker",
        "id": "new_image",
        "label": "new Image"
      }, {
        "type": "url",
        "id": "new_link",
        "label": "new Link"
      }, {
        "type": "image_picker",
        "id": "pants_image",
        "label": "pants Image"
      }, {
        "type": "url",
        "id": "pants_link",
        "label": "pants Link"
      }, {
        "type": "image_picker",
        "id": "skirts_image",
        "label": "skirts Image"
      }, {
        "type": "url",
        "id": "skirts_link",
        "label": "skirts Link"
      }, {
        "type": "image_picker",
        "id": "tie-dye_image",
        "label": "tie-dye Image"
      }, {
        "type": "url",
        "id": "tie-dye_link",
        "label": "tie-dye Link"
      }, {
        "type": "image_picker",
        "id": "tops_image",
        "label": "tops Image"
      }, {
        "type": "url",
        "id": "tops_link",
        "label": "tops Link"
      }, {
        "type": "image_picker",
        "id": "turtleneck_image",
        "label": "turtleneck Image"
      }, {
        "type": "url",
        "id": "turtleneck_link",
        "label": "turtleneck Link"
      }
    ],
    "presets": [
      {
        "name": "Collections Images and Links",
        "category": "Image"
      }
    ]
  }
{% endschema %}