<div class="bg-white border-t border-b border-black flex h-100justify-around items-stretch">
  <div class="flex-1 text-gray-700 cursor-pointer uppercase border-r border-black p-4">
    <a href="#" class="block py-1">instagram</a>
  </div>

  <div class="flex-1 text-gray-700 cursor-pointer border-r border-black p-4 uppercase">
    <p class="py-1">Copyright 2023</p>
    <p class="py-1">Cueva MX</p>
  </div>

  <div class="flex-1 text-gray-700 cursor-pointer border-r border-black p-4 flex flex-col uppercase space-y-2">
    <a href="#" class="py-1">Size Guide</a>
    <a href="#" class="py-1">About Us</a>
    <a href="#" class="py-1">Shipping & Partners</a>
    <a href="#" class="py-1">Privacy Policy</a>
    <a href="#" class="py-1">Terms of service</a>
  </div>
</div>

{% schema %}
  {
    "name": "footer",
    "settings": [
      {
        "type": "checkbox",
        "id": "instagram",
        "label": "Instagram",
        "default": true
      }, {
        "type": "checkbox",
        "id": "tiktok",
        "label": "TikTok",
        "default": true
      }
    ]
  }
{% endschema %}


{% comment %} https://www.instagram.com/__cueva__/ {% endcomment %}
{% comment %} https://www.tiktok.com/@__cueva__?_t=8gCvANL8CF3&_r=1 {% endcomment %}