<div class="bg-white border-t border-b border-black flex h-100justify-around items-stretch">
  <div class="flex-1 text-gray-700 cursor-pointer uppercase border-r border-black p-4">
    <a href="#" class="block py-1">instagram</a>
  </div>

  <div class="flex-1 text-gray-700 cursor-pointer border-r border-black p-4 uppercase">
    <p class="py-1">Copyright 2023</p>
    <p class="py-1">Cueva MX</p>
  </div>

  <div class="flex-1 text-gray-700 cursor-pointer border-r border-black p-4 flex flex-col uppercase space-y-2">
    <a href="#" class="py-1">Size Guide</a>
    <a href="#" class="py-1">About Us</a>
    <a href="#" class="py-1">Shipping & Partners</a>
    <a href="#" class="py-1">Privacy Policy</a>
    <a href="#" class="py-1">Terms of service</a>
  </div>
</div>

{% schema %}
  {
    "name": "Footer",
    "settings": [
      {
        "type": "checkbox",
        "id": "social-media-list",
        "label": "Add Social Media",
        "default": true,
        "options": [
          {
            "value": "facebook",
            "label": "Facebook"
          },
          {
            "value": "twitter",
            "label": "Twitter"
          },
          {
            "value": "instagram",
            "label": "Instagram"
          },
          {
            "value": "pinterest",
            "label": "Pinterest"
          }, {
            "value": "youtube",
            "label": "YouTube"
          }, {
            "value": "vimeo",
            "label": "Vimeo"
          }, {
            "value": "rss",
            "label": "RSS"
          }
        ]
      }

    ]
  }
{% endschema %}