<h1>{{ section.settings.title }}</h1>
<p>{{ section.settings.subheading }}</p>


{% schema %}
  {
    "name": "404",
    "tag": "section",
    "class": "flex items-center justify-center text-center p-7 h-screen",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "404 heading title",
        "default": "404"
      }, {
        "type": "text",
        "id": "subheading",
        "label": "404 subheading",
        "default": "Page not found"
      }
    ]
  }
{% endschema %}